<h1>New Number Of Seat</h1>

<%= render 'form', number_of_seat: @number_of_seat %>

<br />
<%= button_to list_seat_path, :class => "btn btn-lg", method: :get do %>
<%= fa_icon "arrow-left", :class => "fa-lg fa-fw" %>
<% end %>
