<h1>Editing Seat</h1>

<%= render 'form', seat: @seat %>

<br /><br />
<%= button_to list_seat_path, :class => "btn btn-lg", method: :get do %>
<%= fa_icon "arrow-left", :class => "fa-lg fa-fw" %>
<% end %>
