<h2>Beverage menu    <%= link_to 'Add', new_drink_path, class: "btn btn-danger btn-sm", method: :get %></h2>
<ul>
  <% current_manager.restaurant.drinks.each do |drink| %>
    <li>
      <%= drink.name %>
      <%= link_to 'Edit', edit_drink_path(drink), class: 'btn btn-warning btn-sm', method: :get %>
    </li>
    <% end %>
</ul>
