<br/><br />
<% unless current_manager.restaurant.nil? %>
<h2>Providers</h2>

<ul>
  <% current_manager.restaurant.providers.each do |provider| %>
    <li><%= provider.firstname %></li>
  <% end %>
</ul>

<% end %>

<br /><br />
<%= button_to root_path, :class => "btn btn-lg", method: :get do %>
<%= fa_icon "arrow-left", :class => "fa-lg fa-fw" %>
<% end %>
