<h1>Editing Drink</h1>

<%= render 'form', drink: @drink %>

<br /><br />
<%= button_to list_drink_path, :class => "btn btn-lg", method: :get do %>
<%= fa_icon "arrow-left", :class => "fa-lg fa-fw" %>
<% end %>
