<h1>New Drink</h1>

<%= render 'form', drink: @drink %>

<br />
<%= button_to edit_restaurant_path(@restaurant), :class => "btn btn-lg", method: :get do %>
<%= fa_icon "arrow-left", :class => "fa-lg fa-fw" %>
<% end %>
