<% if @restauran.nil? %>
<h2> <i> No restaurant yet </i></h2>
<% else %>
<h1> Welcome to <%= @restauran.titles %> restaurant </h1>
<% end %>
</br>
<h3> Welcome <%= current_employee.firstname %> </h1>


