<div class='container'>
 <div style="background: transparnet !important;" class='jumbotron'>
  <input type="hidden" id="empId" value="<%=current_employee.id%>" />
  <h4>Notifications history</h4>
  <hr>
 </div>
 <div id='notifs'>
 <div>
</div>