// Place all the styles related to the Manager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.col-sm-12{
 background: #f442cb;
}

button{
    width: 100%;
    margin-bottom: 5px;
    position:relative;
}
