// Place all the styles related to the Manager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.col-1{
 background: #3498db;
}

.col-2{
 background: #2ecc71;
}

.col-3{
 background: #e74c3c;
}
