<div class='container'>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Employee shift</h4>
      </div>
      <div class="modal-body">
        <span>First name: </span> <input type="text" id="firstname"</input> <br/>
        <span>Last name: </span> <input type="text" id="lastname" /> <br/>
        <span>Start date: </span> <input type="text" id="start" /> <br/>
        <span>Start time: </span> <input type="text" id="startTime" /> <br/>
        <span>End date: </span> <input type="text" id="end"> <br/>
        <span>End time: </span> <input type="text" id="endTime"> <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="SaveShift" class="btn btn-primary">Enter shift</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


  <div style="background: transparent !important; " class='jumbotron'>
    <h2 style="font-family: Gentona;text-align: center;"> Working schedule </h2>
  </div>
  <div id="calendarContainer">
    <div id='calendar'>
    </div>
  </div>
</div>