<div class='container'>
  <div style="background: transparent !important; " class='jumbotron'>
    <h2 style="font-family: Gentona;text-align: center;"> Working schedule </h2>
  </div>
  <div id="calendarContainer">
    <div id='calendar'>
    </div>
  </div>
</div>