<div class="w-100 card card-inverse card-primary">
  <div class="card-block">
    <h4 class="card-title text-center"><%= restaurant.title %></h4>
    <span class="badge badge-info pull-right"><%= restaurant.category || "" %></span>
    <hr>
    <p class="card-text"><%= restaurant.description %></p>
  </div>
  <div class="card-footer">
    <div class="input-group">
      <%= link_to "Reserve", customers_reservations_new_path(:restaurant_id => restaurant.id), :class => "btn btn-success btn-sm" %>
    </div>
  </div>
</div>
