<div class="jumbotron">
  <h1 class="display-3 text-center">Welcome, <%= current_customer.firstname %>! </h1>
  <hr class="my-4">
  <p class="lead text-center">Ooops! Looks like we don't have any registered restaurants yet. Come by later</p>
  <a class="btn btn-lg btn-success" href="#" role="button">More</a>
</div>
