<h1>Editing Food</h1>

<%= render 'form', food: @food %>

<br /><br />
<%= button_to list_food_path, :class => "btn btn-lg", method: :get do %>
<%= fa_icon "arrow-left", :class => "fa-lg fa-fw" %>
<% end %>
