<li class="list-group-item justify-content-between">
  <span class="badge badge-success badge-pill">$<%= item.price %></span>
  <%= item.name %>
  <%= link_to "Cancel", "#", :class => "btn btn-danger btn-sm" %>
</li>
