<div class="w-100 card card-inverse card-info">
  <div class="card-block">
    <h5>Restaurant: <%=reservation.restaurant.title %></h5>
    <br/>
    <%= link_to "Review a visit", reservation_reviews_path(:reservation => reservation.id) , :class => "btn btn-success btn-sm" %>
  </div>
</div>