<div>
  &nbsp;
  &nbsp;
</div>

<div class="container gray-panel">
  <div class="mt-5 container">
    <div>
      <h1 class="text-center display-4">Reservations history</h1>

      <hr>
    </div>
  </div>
  <div class="container">
    <div class="card-columns">
      <%= render :partial => "reservation_history", :collection => @reservations, :as => :reservation %>
    </div>
  </div>
</div>
