<div>
  &nbsp;
  &nbsp;
</div>

<div class="container invitation">
  <div class="mt-5 container">
    <div>
      <h1 class="text-center display-4">Reservations history</h1>

      <hr>
    </div>
  </div>
  <div class="mb-3">

    <ul>
      <% @reservations.each do |reservation| %>
        <li>
          <%= reservation.restaurant.title %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
