<div class="mt-5">
  &nbsp;
</div>

<div class="container gray-panel">
  <div class="mt-5 container">
    <div>
      <h1 class="text-center display-4">Reservations history</h1>
      <hr>
    </div>
  </div>

  <% if @host_reservations.present? %>
    <h1 class="display-4">Host</h1>
    <%= render :partial => "reservations_table",
               :locals => { :reservations => @host_reservations } %>

    <hr>
  <% end %>

  <% if @guest_reservations.present? %>
    <h1 class="display-4">Guest</h1>
    <%= render :partial => "reservations_table",
               :locals => { :reservations => @guest_reservations } %>

    <hr>
  <% end %>

  <% if @guest_reservations.empty? and @host_reservations.empty? %>
    <div class="text-center alert alert-info mt-4 mb-4">
      <strong>You do not have any reservations yet.</strong>
    </div>

    <hr>
  <% end %>

</div>

<div class="mt-5">
  &nbsp;
</div>
