<p>Welcome <%= @resource.firstname %>!</p>
<p>Your password is: <b><%= @resource.password %></b></p>

<p>You can confirm your account email through the link below:</p>
<p>Also, You must enter new password to complete confirmation.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
