.gray-panel {
  background-color: #f2f2f2;
  border: 2px solid #a1a1a1;
  border-radius: 9px;
}

.form {
  margin: 8rem auto;
  padding: 2rem;
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
